#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.leaflet-control-container::after {
  content: url(https://maps.gsi.go.jp/image/map/crosshairs.png);
  z-index: 1000;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sr-only {
  display: none;
}
